<div class="row">
  <div class="col-xs-12 video-block">
    <h3 class="title flex-title">
        <span class="title-main">Vidéos</span>
        <a href="#!" class="title-note">+ Voir toutes les videos</a>
      </h3>
    <div class="row">
      <img class="img-responsive" src="images/video1.png" alt="">
    </div>
    <h4 class="sub-title">Mauris quis lacinia augue.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec metus tincidunt, euismod nib..</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 actu-block">
    <h3 class="title flex-title">
        <span class="title-main">Actu France</span>
        <a href="#!" class="title-note">+ Voir toutes les videos</a>
      </h3>
    <div class="row">
      <img class="img-responsive" src="images/actu.png" alt="">
    </div>
    <h4 class="sub-title">Lorem Ipsum stelenium sitemoune sectissme</h4>
    <span class="sub-date">22 fév 2014</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Morbi nec metus tincidunt, euismod nib..</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 focus-block">
    <h3 class="title flex-title">
        <span class="title-main">Focus </span>
        <span>Mkofkfj dEJEJEJEJJE</span>
      </h3>
    <div class="row">
      <img class="img-responsive" src="images/actu.png" alt="">
    </div>
    <h4 class="sub-title">Lorem Ipsum stelenium sitemoune sectissme</h4>
    <span class="sub-date">22 fév 2014</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Morbi nec metus tincidunt, euismod nib..</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 nominations-block">
    <h3 class="title flex-title">
        <span class="title-main">Actu France</span>
        <a href="#!" class="title-note">+ Voir toutes les videos</a>
      </h3>
    <div class="row">
      <img class="img-responsive" src="images/actu.png" alt="">
    </div>
    <h4 class="sub-title">Lorem Ipsum stelenium sitemoune sectissme</h4>
    <span class="sub-date">22 fév 2014</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Morbi nec metus tincidunt, euismod nib..</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 focus-second-block">
    <h3 class="title flex-title">
        <span class="title-main">Actu France</span>
        <a href="#!" class="title-note">+ Voir toutes les videos</a>
      </h3>
    <div class="row">
      <img class="img-responsive" src="images/actu.png" alt="">
    </div>
    <h4 class="sub-title">Lorem Ipsum stelenium sitemoune sectissme</h4>
    <span class="sub-date">22 fév 2014</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Morbi nec metus tincidunt, euismod nib..</p>
  </div>
</div>